/* food-specific styling */

#ingredients table {
    margin: 0.5em 0;
    border-collapse: collapse;
}

#ingredients tr td:first-child {
    width: 5em;
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
}

#ingredients tr.even {
    background-color: #ffffca;
}

#ingredients th {
    text-align: left;
    background-color: #aeeeee;
    padding-right: 1em;
}

.epigraph {
    background-color: inherit;
}

.links-group {
    display: none;
}
