/* frontpage */

#acdw article {
    flex-flow: row nowrap;
}

#latest-posts {
    flex: 3 0 75%;
}

#about-me {
    order: 100;
    padding: 0 2em;
}
#about-me h1 {
    display: none;
}

#about-me .h-card {
    background-color: #ffffca;
    padding: 0 1em 1em 1em;
}

#about-me img {
    background-color: #aeeeee;
    padding: 0.5em;
}

#acdw .group-title,
#acdw .group-title::before,
#acdw .group-title::after
{
    display: none;
}

#acdw .index-links td:nth-child(2) /* links-group */
{
    display: block;
}

.contact, .rootlist {
    display: flex;
    justify-content: center;
}

.contact ul, .rootlist ul {
    padding: 0;
}
.contact a, .rootlist a {
    padding: 0 0.1em;
}

.rootlist li {
    display: inline;
    font-style: italic;
}
.rootlist li::after {
    content: " - ";
}
.rootlist li:last-of-type::after {
    content: "";
}

.contact li {
    display: inline;
}
.contact li::after {
    content: " - ";
}
.contact li:last-of-type::after {
    content: "";
}
.contact {
    border-top: 1px solid black;
}
