body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-size: 16px;
    font-family: "CMUConcreteRoman", serif;
    background-color: #ffffea;
}

main.site {
    flex: 1;
    line-height: 1.40;
}

.site {
    padding: 0 1em;
    margin: 0;
}

article {
    margin: 1.5em 0 1em 0;
    display: flex;
    flex-flow: column nowrap;
}

article section,
article p,
article .line-block,
article ul, article ol,
article div,
article dt, article dd {
    max-width: 50em;
}

header, footer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: #aeeeee;
    margin: 0 -1em;
    padding: 0 1em;
}

.site .spacer {
    flex: 1;
}

.site .date,
.site .rss {
    text-align: right;
    position: relative;
}

.site .rss {
    position: relative;
}
.site .rss::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.site .rss,
.site .rss object {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.group-title::before {
    content: "/";
    margin-right: 0.5em;
}
.group-title::after {
    content: "/";
    margin-left: 0.5em;
}

header.site a:link { 
    color: inherit;
}
header.site a:visited { 
    color: inherit;
}
header.site a:hover {
    color: inherit;
    text-decoration: underline;
}
header.site a:active { 
    color: inherit; 
    text-decoration: underline;
}

.epigraph {
    margin: 0 -1.5em;
    padding: 0 2.5em; 
    font-style: italic;
    font-size: 0.9em;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding-right: 0.5em;
}

main h1 {
    background-color: #aeeeee;
    border-bottom: 1px solid black;
    margin: 1em 0 2em -1.5em;
    padding: 0 2.5em; 
}

.copyright, .date {
    font-size: 0.8em;
    font-style: italic;
}

.line-block {
    text-align: left;
    margin: 1em 2em;
}
.line-block br { display: none; }

.line {
    display: block;
    margin: 0;
    text-indent: -1em;
    margin-left: 1em;
}

a:link {
    text-decoration: none;
    color: inherit;
}
a:visited { 
    color: inherit;
}
a:hover {
    color: inherit;
    background-color: #aeeeee;
}
a:active { 
    color: inherit;
    background-color: #aeeeee;
}

p a:link {
    text-decoration: underline;
}

footer.site {
    padding: 0 0 0 1em;
}

.datenav {
    flex: 1;
    text-align: left;
}

.copyright { 
    text-align: right;
    margin-right: 1em;
}
.license img {
    position: relative;
    top: 4px;
}

code,pre {
    font-family: "CMUTypewriterTextRegular", monospace;
    background-color: #ffffca;
}

pre {
    padding: 2px;
    border: 1px solid #ffa;
}

.index-links table {
    width: 100%;
}

.index-links td:nth-child(2), /* links-group */
.index-links td:nth-child(3) /* links-date */
{
    font-style: italic;
    font-size: 0.8em;
}

.index-links a {
    width: 100%;
    display: block;
}

.index-links td:nth-child(2) /* links-group */
{
    display: none;
}

.ignore {
    display: none;
}

.bumper {
    font-size: 0.8em;
    flex: 1;
}

.underline:link {
    text-decoration: underline;
}

.u-photo {
    width: 100%;
    max-width: 350px;
    margin: auto;
    display: block;
}

figure {
    max-width: 36em;
    max-height: calc(70vh + 2em);
    display: block;
    background-color: #ffffca;
    padding: 1em;
}

figure img {
    max-width: 80%;
    max-height: 70vh;
    display: block;
    margin: auto;
}

figcaption {
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
}

dt {
    font-weight: bold;
}
dd {
    margin-bottom: 1em;
}

#tags {
    font-style: italic;
    font-size: 0.8em;
    color: #aaaa75;
    position: absolute;
    top: 3.25em;
    right: 1em;
}
#tags li {
    display: inline-block;
}
