/* read -specific */

.rl-title {
    font-style: italic;
    display: inline-block;
}

a.rl-title:link {
    background-color: #aeeeee;
    padding: 0 0.5em;
}

.rl-author {
    margin-left: 0.5em;
    display: inline-block;
}
.rl-author::before {
    content: "-- ";
}

a.rl-link::before {
    content: "[";
}
a.rl-link {
    font-size: 0.8em;
    font-style: italic;
    position: relative;
    top: -0.2em;
    left: 0.3em;
    display: inline-block;
}
a.rl-link::after {
    content: "]";
}
